//color-variable///
$white:#ffff;
$black:#000;
$primary:#FFA726;
$secondary:#666666;
$light-grey:#F5F5F5;
$dark-grey:#999999;
$counter-grey-color: #54595F;


//font-size//
$xxl-size:60px;
$xl-size:40px;
$lg-size:36px;
$md-size:22px;
$sm-size:16px;


//line-height//
$xxl-height:65px;
$xl-height:48px;
$lg-height:40px;
$md-height:24px;
$sm-height:normal;

//font-weight//
$xxl-weight:800;
$xl-weight:600;
$lg-weight:500;
$md-weight:400;


//font-family//
$primary-font:'raleway';
$secondry-font:'roboto';
$third-font:'inter';


//padding//
$gutter-padding:0 15px 0 15px;
$zero-gap:0;

//margin//
$gutter-margin:0 -15px 0 -15px;
$zero-space:0;

//breakpoint//

$xxl:1599px;
$xl:1365px;
$lg:1199px;
$md:991px;
$sm:767px;
$xs:575px;
